<div class='game'>

  <div class='dayticker'>
    <h4>Day: <%= @story.day %></h4>
  </div>

  <div class='column'>

    <div class='box chatbox'>
      <div class='eventlog'>
        <div class="events">
          <h3>Event Log</h3>
        </div>
      </div>
      <ul id='chatlog'>
      </ul>
    </div>

    <div class='box'>
      <div class='events'>
        <h3>Event Log</h3>
        <p> <%= @event.setting %></p>
        <h4>Please choose your character for this event</h4>
      </div>
      <div id='event-form'>
        <%= form_tag("/story/1", method: "get") do %>
          <div id='character-options'>
          <% @living_characters.each do |character| %>
          <%= check_box_tag character.id, character.id -%>
          <%= h character.name %>
          <% end %>
          </div>
          <%= hidden_field_tag "day", @story.day %>
          <%= hidden_field_tag "event", @event.id %>
          <br><br>
          <%= submit_tag(value = "submit", id: "submit-button") %>
          <% end %>
        </div>
        <p class="event-success"><%= @event.success %></p>
        <p class="event-failure"><%= @event.failure %></p>
        <br>
        <%= link_to "Next day", story_path(@story.id + 1, {:next_day => true }), id: 'next-link'%>
      </div>

      <div class='box'>
        <div class='events'>
          <h4>Abilities</h4>
        </div>
        <div class='abilities_list'>
          <% if @abilities %>
          <% @abilities.each do |ability| %>
          <p><%= link_to ability.text, "/ability/#{ability.name}", id: "ability#{ability.id}", class: "ability-links" %></p>
          <% end %>
          <% end %>
        </div>
      </div>

    </div>

    <div class='characters'>
      <% @characters.each do |character| %>
      <div class="characterbox">

        <p><%= character.name %></p> 
        <% if character.status == 'alive' && character.morale > 8%>
        Attack: <%= character.attack %><br>
        Morale: <%= character.morale %>
        <%= character.happyimg %>
        <% elsif character.status == 'alive' && character.morale <= 8 && character.morale > 4%>
        Attack: <%= character.attack %><br>
        Morale: <%= character.morale %>
        <%= character.deadpanimg %>
        <% elsif character.status == 'alive' && character.morale <= 4%>
        Attack: <%= character.attack %><br>
        Morale: <%= character.morale %>
        <%= character.sadimg %>
        <% elsif character.status == 'infected' %>
        Attack: <%= character.attack %><br>
        Morale: <%= character.morale %>
        <%= character.img_infected %>
        <% elsif character.status == 'dead'%>
        <%= character.deadimg %>
        Dead
        <br>
        <br>
        <% end %>
        <p><%= character.name %></p>
      </div>
      <% end %>
    </div>

  </div>