<div class='game'>

<div class='dayticker'>
  <h3>Day: <%= @story.day %></h3>
</div>

  <div class='column'>

    <div class='box'>
      <div class='eventlog'>
        <p><%= @story.text %></p>
      </div>
    </div>

    <div class='box'>
      <div class='events'>
        <p><%= @event.setting %></p>
      </div>
        <div id='event-form'>
          <%= form_tag("/story/1", method: "get") do %>
          <p>Select X characters to X<p>
          <% @living_characters.each do |character| %>
            <%= check_box_tag character.id, character.id -%>
            <%= h character.name %>
          <% end %>
          <%= hidden_field_tag "day", @story.day %>
          <br><br>
          <%= submit_tag(value = "submit", id: "submit-button") %>
          <% end %>
        </div>
        <p class="event-success"><%= @event.success %></p>
        <p class="event-failure"><%= @event.failure %></p>
        <br>
        <%= link_to "Next day", story_path(@story.id + 1, {:next_day => true }), id: 'next-link'%>
    </div>

    <div class='box'>
      <div class='abilities'>
        <p>Abilities</p>
      </div>
      <div class='abilities_list'>
        <% if @abilities %>
          <% @abilities.each do |ability| %>
            <%= link_to ability.text, "/ability/#{ability.name}", id: "ability#{ability.id}" %>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>

  <div class='characters'>
    <% @characters.each do |character| %>
    <div class="characterbox">
    <p><%= character.name %></p>
    </div>
    <% end %>
  </div>

</div>