<h3>Day: <%= @story.day %></h3>
<p><%= @story.text %></p>

<h3>Characters</h3>
<% @characters.each do |character| %>
<p><%= character.name %> Status: <%= character.status %>Morale: <%= character.morale %>Attack: <%= character.attack %></p>


<%= link_to 'next', story_path(@story.id + 1) %>